.Head{
    background-image: url(https://cdn-m.timecamp.com/img/backgroundTop.webp);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Head{
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.Head>div{
    width: 40%;
}
.HeadLeft{
    text-align: left;
    background: white;
    opacity: 0.95;
    padding: 40px;
}
.HeadLeft>h1{
    font-size: 50px;
}
.HeadLeft>input{
    border: 0.5px solid lightgrey;
    width: 95%;
    border-radius: 15px;
    padding: 13px;
    font-size: 16px;
    margin-top: 40px;
}
.HeadLeft>div{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.HeadLeft>div>button{
    background-color: #25cf60;
    color: white;
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    height: 50px;
}
.HeadLeft>div>p>button{
    background-color: #25cf60;
    color: white;
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}
.HeadLeft>div>p{
    margin-top: 0px;
}

.HeadRight{
    background: white;
    opacity: 0.95;
    padding: 40px;
    margin-top: 300px;
}
.HeadRight>div>img{
    width: 80px;
}

.HeadRight>h2{
    margin-top: 30px;
        font-weight: 400;
        opacity: 0.7;
}
.HeadRight>img{
    width: 80px;
    margin-top: 20px;
}


.HeadGreen{
    background-color: #25cf60;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 30px;
}
.HeadGreen>div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 30px;
}
.StayOnTop{
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 120px;
    border-radius: 20px;
    text-align: left;
}
.StayOnTop>div>h1 {
    text-align: left;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 50px;
}

.StayOnTop>div>button{
    margin-top: 40px;
    padding: 15px;
    margin-left: 50px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: #f7b801;
}

.ForAll{
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 80px;
}
.ForAll>h1{
    width: 46%;
    margin: auto;
}
.Forall{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    text-align: left;
}
.Forall>div{
    width: 43%;
}
.Forall>div>h1{
    font-size: 50px;
}
.Forall>div>img{
    margin-top: 100px;
    width: 100%;
}
.Forall>div>button{
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;
    margin-top: 60px;
}

.ProductTour{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: black;
}
.ProductTour>div{
    width: 45%;
    text-align: left;
    color: white;
}
.ProductTour>div>img{
    width: 100%;
    margin-top: 100px;
}
.ProductTour>div>h1{
    font-size: 45px;
}
.ProductTour>div>button{
    margin-top: 40px;
    padding: 15px;
    margin-left: 50px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: #f7b801;
}

.Review{
    margin-top: 80px;
}
.Review>div{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.Review>div:nth-child(4)>div{
    width: 20%;
    text-align: left;
    padding: 30px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin-bottom: 90px;
}
.ReviewImages{
    margin-top: 100px;
}
.Integration{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color: rgb(252, 247, 241);
    padding-top: 60px;
    padding-bottom: 40px;
}
.Integration>div{
    width: 35%;
}
.Integration>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.Integration>div:nth-child(2)>div{
    width: 45%;
    height: 70px;
    border: none;
    padding: 30px;
    margin-top: 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Integration>div:nth-child(2)>div>img{
    width: 100%;
}
.Integration>div:nth-child(1){
text-align: left;
}
.Integration>div:nth-child(1)>h1{
    font-size: 40px;
    border-bottom: 1px solid green;
}
.Integration>div:nth-child(1)>p{
    font-size: 20px;
}
.Integration>div:nth-child(1)>button{
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;
    margin-top: 60px;
    display: flex;
    gap: 10px;
}
.DivCosts{
    display: flex;
    justify-content: space-around;
}
.DivCosts>div{
    border: 1px solid lightgrey;
    padding: 20px;
    width: 19%;
    border-radius: 25px;
}
.DivCosts>div>p, .DivCosts>div>ul{
    text-align: left;
}
.DivCosts>div>button{
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;   
}
.Advantage{
    width: 80%;
    margin: auto;
    border-radius: 40px;
    background-color: #f7b801;
    padding: 40px;
    margin-top: 120px;
    background-image: url(https://cdn-m.timecamp.com/img/landing-page/banner-icon.svg);
    background-position: right;
    background-repeat: no-repeat;
}
.Advantage>h1{
    font-size: 50px;
    width: 60%;
    margin: auto;
    font-weight: 500;
}
.Advantage>p{
    width: 63%;
    margin: auto;
    margin-top: 27px;
}
.Advantage>div{
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 40px;
}
.Advantage>div>div:nth-child(1){
    width: 55%;
}
.Advantage>div>div>input{
    height: 48px;
    width: 110%;
    padding-left: 20px;
    border-radius: 25px;
    border: none;
    
}
.Advantage>div>div>button{
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;   
}
.Advantage>p>button{
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;      
}


.Faq{
    width: 90%;
    margin: auto;
    margin-top: 100px;
}
.Faq>div{
    padding: 10px;
    border-top: 1px solid lightgray;
    text-align: left;
    padding-left: 30px;
}
.Faq>div>p{
    font-size: 20px;
    font-weight: 300;
}

.Blog{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    text-align: left;
}
.Blog>div{
    display: flex;
    justify-content: space-between;
}
.Blog>div:nth-child(1)>div:nth-child(2)>button{
    margin-top: 50px;
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;
}
.BlogDiv{
    display: flex;
    justify-content: space-around;
}
.BlogDiv>div{
    width: 30%;
}
.BlogDiv>div>img{
    width: 100%;
}



.Footer{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 100px;
}