.SignupInput{
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.SignupInput>input{
    padding: 10px;
    height: 30px;
}

.SignupHead{
    width: 80%;
    margin: auto;
}

.Signup{
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 60%;
    margin: auto;
}

.SignupInput>button{
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;
}
.SignupHead>button{
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #25cf60;
}